{% extends 'SalleAdminBundle:Front:base.html.twig' %}

{% block title %}Galeria{% endblock %}

{% block content %}

<!-- Header -->
<div class="mainmenu-wrapper">
	{% include 'SalleAdminBundle:Front:header.html.twig' with {'active' : 'galeria'} %}
</div>


<!-- Page Title -->
<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Galería de imagenes</h1>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row imgs" id="imgs">
			{% for imagen in imagenes %}
				<div class="col-md-4 col-sm-6">
					<div class="portfolio-item" style="height:230px;">
						<div class="portfolio-image">
							<a href="page-portfolio-item.html"><img src="{{ asset ('bundles/salleadmin/img/galeria/' ~ imagen.id ~ '.' ~ imagen.path )}}" style="max-height:206px;max-width:329px;" alt="Project Name"></a>
						</div>
						<div class="portfolio-info-fade">
							<ul>
								<li class="portfolio-project-name">{{ imagen.titulo | truncate(20) }}</li>
								<li>{{ imagen.descripcion | truncate(100) }}</li>
								<li class="read-more"><a href="{{ url('imagen', {'id' : imagen.id } )}}" class="btn">Detalle</a></li>
							</ul>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>	
	</div>
</div> 

<div class="pagination-wrapper ">
	<ul class="pagination pagination-lg">
		<li class="disabled"><a href="javascript:void(0);">«</a></li>
		<li class="active"><a href="javascript:void(0);">1</a></li>
		<li><a href="javascript:void(0);">2</a></li>
		<li><a href="javascript:void(0);">3</a></li>
		<li><a href="javascript:void(0);">4</a></li>
		<li><a href="javascript:void(0);">5</a></li>
		<li><a href="javascript:void(0);">»</a></li>
	</ul>
</div>

<!-- Footer -->
<div class="footer">
	{% include 'SalleAdminBundle:Front:footer.html.twig' %}
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript" charset="utf-8" async defer>

pathAux = "{{ asset ('bundles/salleadmin/img/galeria/hola.jpg')}}";
urlAux = "{{ url('imagen', {'id' : 'hola' } )}}";

$(document).ready( function (){

	if ({{ numPags }} <= 5 )
	{
		$(".pagination").find("li").each(function(i)
		{
			if ( i > {{ numPags }} || i == 0 )
			{
				$(this).addClass('disabled');
			}
		});
	}
});

$('.pagination > li > a').on("click", function (){

	if (!$(this).parent().hasClass('disabled'))
	{

		tecla = $(this).text();

		//Nos vamos al principio
		if ( tecla == "«" )
		{
			tecla = 1;
		} //Nos vamos al final
		else if ( tecla == "»" ) 
		{
			tecla = {{ numPags }};
		}

		numeros(tecla);

		$.ajax({
			dataType: "json",
			url:"{{ url ('galeria') }}", 
			data: { offset: tecla-1 },
			type: "POST"})
			.done (function(refresh){
				$("#imgs > div").fadeOut('slow').promise().done(function (){
					$(this).remove();

					$.each(refresh.refresh, function(i, item){
						
						path = pathAux.replace ("hola.jpg", item.id + '.' + item.path );
						url = urlAux.replace('hola', item.id);

						cad = '<div class="col-md-4 col-sm-6"><div class="portfolio-item"><div class="portfolio-image"><a href="page-portfolio-item.html"><img src="' + path + '" style="height:206px; width: auto;" alt="Project Name"></a></div><div class="portfolio-info-fade"><ul><li class="portfolio-project-name">' + truncateString(item.titulo, 30) + '</li><li>' + truncateString(item.descripcion, 100) + '</li><li class="read-more"><a href="' + url + '" class="btn">Detalle</a></li></ul></div></div></div>';

					 		$("#imgs").append(cad);
					});
				});
	
			});
	}
});


function numeros(seguent){

	num = parseInt(seguent);

	$(".pagination").find("li").each(function(i)
	{
		$(this).removeClass('active');
	});

	//Estamos al principio de todo
	if ({{ numPags }} <= 5)
	{
		$(".pagination").find("li > a").each(function(i)
		{
			if ( i == 0 || i > {{ numPags }} )
			{
				$(this).parent().addClass('disabled');
			}
			if ( i == num)
			{
				$(this).parent().addClass('active');
			}
		});
	}

	//Estamos al principio de todo
	else if ( num <= 3 )
	{
		$(".pagination").find("li > a").each(function(i)
		{
			if ( i == 0 )
			{
				$(this).parent().addClass('disabled');
			}
			else if ( i == num)
			{
				$(this).parent().addClass('active');
			}
			if ( i >= 1 && i <= 5)
			{
				$(this).text(i);
			}
			else if ( i == 6)
			{
				$(this).parent().removeClass('disabled');
			}
		});
	}

	//Estamos al final
	else if (num == {{ numPags - 1 }} )
	{
		kids = $(".pagination").find("li > a");

		$(kids[0]).parent().removeClass('disabled');
		$(kids[1]).text(num-3);
		$(kids[2]).text(num-2);
		$(kids[3]).text(num-1);
		$(kids[4]).text(num);
		$(kids[4]).parent().addClass('active');
		$(kids[5]).text(num+1);
		$(kids[6]).parent().addClass('disabled');
	}

	//Estamos al final
	else if (num == {{ numPags }} )
	{
		kids = $(".pagination").find("li > a");

		$(kids[0]).parent().removeClass('disabled');
		$(kids[1]).text(num-4);
		$(kids[2]).text(num-3);
		$(kids[3]).text(num-2);
		$(kids[4]).text(num-1);
		$(kids[5]).text(num);
		$(kids[5]).parent().addClass('active');
		$(kids[6]).parent().addClass('disabled');

	}

	//Estamos en el medio
	else if (num < {{ numPags }}-1 && num >= 3)
	{
		kids = $(".pagination").find("li > a");

		$(kids[0]).parent().removeClass('disabled');
		$(kids[1]).text(num-2);
		$(kids[2]).text(num-1);
		$(kids[3]).text(num);
		$(kids[3]).parent().addClass('active');
		$(kids[4]).text(num+1);
		$(kids[5]).text(num+2);
		$(kids[6]).parent().removeClass('disabled');

	}
}

function truncateString(str, length) {
    return str.length > length ? str.substring(0, length - 3) + '...' : str
}

</script>

{% endblock %}