{% extends 'SalleAdminBundle:Front:base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block content %}

<!-- Header -->
<div class="mainmenu-wrapper">
	{% include 'SalleAdminBundle:Front:header.html.twig' with {'active' : 'home'} %}
</div>

<!-- Homepage Slider -->
<div class="homepage-slider">
	<div id="sequence">
		<ul class="sequence-canvas">
			<!-- Slide 1 -->
			<li class="bg3">
				<!-- Slide Title -->
				<h2 class="title">En el corazón del Valle Sagrado de los Incas</h2>
				<!-- Slide Text -->
				<h3 class="subtitle">Emitiendo desde Urubamba para todo el valle</h3>
			</li>
			<!-- End Slide 1 -->
			<!-- Slide 2 -->
			<li class="bg2">
				<!-- Slide Title -->
				<h2 class="title">Pensando para todos</h2>
				<!-- Slide Text -->
				<h3 class="subtitle">Programación con música e información tanto en Quechua como en español</h3>
			</li>
			<!-- End Slide 2 -->
			<!-- Slide 3 -->
			<li class="bg4">
				<!-- Slide Title -->
				<h2 class="title">Una radio educativa</h2>
				<!-- Slide Text -->
				<h3 class="subtitle">Nos interesamos por la cultura y la gente de la zona</h3>
			</li>
			<!-- End Slide 3 -->
			<!-- Slide 4 -->
			<li class="bg1">
				<!-- Slide Title -->
				<h2 class="title">Machu Picchu</h2>
				<!-- Slide Text -->
				<h3 class="subtitle">Cerca del tesoro arqueológico de los Incas</h3>
			</li>
			<!-- End Slide 4 -->
			
		</ul>
		<div class="sequence-pagination-wrapper">
			<ul class="sequence-pagination">
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
			</ul>
		</div>
	</div>
</div>
<!-- End Homepage Slider -->


<!-- Page Title -->
<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Radio La Salle Rimarinakusunchis</h1>
			</div>
		</div>
	</div>
</div>

<!-- Posts List -->
<div class="section blog-posts-wrapper">
	<div class="container">
		<h2>Ultimas noticias</h2>
		<div class="row">
			<!-- Post -->
			{% for noticia in noticias %}
			<div class="col-md-4 col-sm-6">
				<div class="blog-post">
					<!-- Post Info -->
					<div class="post-info">
						<div class="post-date">
							<div class="date">{{ noticia.fecha | date('Y-m-d') }}</div>
						</div>
						<div class="post-comments-count">
							<a href="page-blog-post-right-sidebar.html" title="Show Comments"><i class="glyphicon glyphicon-comment icon-white"></i>11</a>
						</div>
					</div>
					<!-- End Post Info -->
					<!-- Post Image -->
					<img src="{{ asset ('bundles/salleadmin/img/articulos/' ~ noticia.id ~ '.' ~ noticia.path )}}" class="post-image" alt="Post Title">
					<!-- End Post Image -->
					<!-- Post Title & Summary -->
					<div class="post-title">
						<h3>{{ noticia.titulo }}</h3>
					</div>
					<div class="post-summary">
						<p>{{ noticia.subtitulo }}</p>
					</div>
					<!-- End Post Title & Summary -->
					<div class="post-more">
						<a href="{{ url ('noticia', { 'id' : noticia.id } )}}" class="btn btn-small">Leer más</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- End Posts List -->

<!-- Call to Action Bar -->
<div class="section section-white">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="calltoaction-wrapper">
					<h3>¡Además todas estas noticias!</h3> {# <a href="http://www.dragdropsite.com" class="btn btn-orange">Download here!</a> #}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Call to Action Bar -->


<div class="section">
    <div class="container">
	    <h2>Deportes</h2>
    	<div class="row">
    		<div class="col-md-3 col-sm-6">
    			<div class="service-wrapper">
        			<img src="{{ asset ('bundles/salleadmin/img/articulos/prueba1.jpg' )}}" alt="Service Name" style="max-width:200px;max-height:150px;">
        			<h3>Lorem ipsum dolor sit amet</h3>
        			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames. <a href="#">Read more...</a></p>
    			</div>
    		</div>
    		<div class="col-md-3 col-sm-6">
    			<div class="service-wrapper">
        			<img src="{{ asset ('bundles/salleadmin/img/articulos/prueba2.jpg' )}}" alt="Service Name" style="max-width:200px;max-height:150px;" alt="Service Name">
        			<h3>Sed ut perspiciatis unde omnis</h3>
        			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames. <a href="#">Read more...</a></p>
        		</div>
    		</div>
    		<div class="col-md-3 col-sm-6">
    			<div class="service-wrapper">
        			<img src="{{ asset ('bundles/salleadmin/img/articulos/prueba3.jpg' )}}" alt="Service Name" style="max-width:200px;max-height:150px;" alt="Service Name">
        			<h3>But I must explain to you how</h3>
        			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames. <a href="#">Read more...</a></p>
        		</div>
    		</div>
    		<div class="col-md-3 col-sm-6">
    			<div class="service-wrapper">
        			<img src="{{ asset ('bundles/salleadmin/img/articulos/prueba4.jpg' )}}" alt="Service Name" style="max-width:200px;max-height:150px;" alt="Service Name">
        			<h3>At vero eos et accusamus</h3>
        			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames. <a href="#">Read more...</a></p>
    			</div>
    		</div>
    	</div>

    	<h2>Tecnología</h2>
    	<div class="row">
    		<div class="col-md-3 col-sm-6">
    			<div class="service-wrapper">
        			<img src="{{ asset ('bundles/salleadmin/img/articulos/prueba1.jpg' )}}" alt="Service Name" style="max-width:200px;max-height:150px;">
        			<h3>Lorem ipsum dolor sit amet</h3>
        			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames. <a href="#">Read more...</a></p>
    			</div>
    		</div>
    		<div class="col-md-3 col-sm-6">
    			<div class="service-wrapper">
        			<img src="{{ asset ('bundles/salleadmin/img/articulos/prueba2.jpg' )}}" alt="Service Name" style="max-width:200px;max-height:150px;" alt="Service Name">
        			<h3>Sed ut perspiciatis unde omnis</h3>
        			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames. <a href="#">Read more...</a></p>
        		</div>
    		</div>
    		<div class="col-md-3 col-sm-6">
    			<div class="service-wrapper">
        			<img src="{{ asset ('bundles/salleadmin/img/articulos/prueba3.jpg' )}}" alt="Service Name" style="max-width:200px;max-height:150px;" alt="Service Name">
        			<h3>But I must explain to you how</h3>
        			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames. <a href="#">Read more...</a></p>
        		</div>
    		</div>
    		<div class="col-md-3 col-sm-6">
    			<div class="service-wrapper">
        			<img src="{{ asset ('bundles/salleadmin/img/articulos/prueba4.jpg' )}}" alt="Service Name" style="max-width:200px;max-height:150px;" alt="Service Name">
        			<h3>At vero eos et accusamus</h3>
        			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames. <a href="#">Read more...</a></p>
    			</div>
    		</div>
    	</div>

    </div>
</div>

<!-- Events -->
<div class="section">
	<div class="container">
	<h2>Eventos</h2>
		<div class="row">
			<div class="col-md-12">
				<table class="events-list">
					{% for i in 1..5 %}
						<tr>
							<td>
								<div class="event-date">
									<div class="event-day">16</div>
									<div class="event-month">MAR</div>
								</div>
							</td>
							<td>
								Donec hendrerit massa metus, a ultrices elit iaculis eu. Pellentesque ullamcorper augue lacus.
							</td>
							<td class="event-venue hidden-xs"><i class="icon-map-marker"></i> <b>Siemens Arena</b></td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>


 <!-- Footer -->
<div class="footer">
	{% include 'SalleAdminBundle:Front:footer.html.twig' %}
</div>

{% endblock %}