{% extends 'SalleAdminBundle:Front:base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block content %}

<!-- Header -->
<div class="mainmenu-wrapper">
	{% include 'SalleAdminBundle:Front:header.html.twig' with {'active' : 'home'} %}
</div>

<!-- Homepage Slider -->
<div class="homepage-slider">
	<div id="sequence">
		<ul class="sequence-canvas">
			<!-- Slide 1 -->
			<li class="bg3">
				<!-- Slide Title -->
				<h2 class="title">En el corazón del Valle Sagrado de los Incas</h2>
				<!-- Slide Text -->
				<h3 class="subtitle">Emitiendo desde Urubamba para todo el valle</h3>
			</li>
			<!-- End Slide 1 -->
			<!-- Slide 2 -->
			<li class="bg2">
				<!-- Slide Title -->
				<h2 class="title">Pensando para todos</h2>
				<!-- Slide Text -->
				<h3 class="subtitle">Programación con música e información tanto en Quechua como en español</h3>
			</li>
			<!-- End Slide 2 -->
			<!-- Slide 3 -->
			<li class="bg4">
				<!-- Slide Title -->
				<h2 class="title">Una radio educativa</h2>
				<!-- Slide Text -->
				<h3 class="subtitle">Nos interesamos por la cultura y la gente de la zona</h3>
			</li>
			<!-- End Slide 3 -->
			<!-- Slide 4 -->
			<li class="bg1">
				<!-- Slide Title -->
				<h2 class="title">Machu Picchu</h2>
				<!-- Slide Text -->
				<h3 class="subtitle">Cerca del tesoro arqueológico de los Incas</h3>
			</li>
			<!-- End Slide 4 -->
			
		</ul>
		<div class="sequence-pagination-wrapper">
			<ul class="sequence-pagination">
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
			</ul>
		</div>
	</div>
</div>
<!-- End Homepage Slider -->


<!-- Page Title -->
<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Radio La Salle Rimarinakusunchis</h1>
			</div>
		</div>
	</div>
</div>

<!-- Posts List -->
<div class="section blog-posts-wrapper">
	<div class="container">
		<h2>Ultimas noticias</h2>
		<div class="row">
			<!-- Post -->
			{% for noticia in noticias %}
				<div class="col-md-4 col-sm-6">
					<div class="blog-post">
						<!-- Post Info -->
						<div class="post-info">
							<div class="post-date">
								<div class="date">{{ noticia.fecha | date('Y-m-d') }}</div>
							</div>
							<div class="post-comments-count">
								<a href="page-blog-post-right-sidebar.html" title="Show Comments"><i class="glyphicon glyphicon-comment icon-white"></i>11</a>
							</div>
						</div>
						<!-- End Post Info -->
						<!-- Post Image -->
						<img src="{{ asset ('bundles/salleadmin/img/articulos/' ~ noticia.id ~ '.' ~ noticia.path )}}" class="post-image center-block" alt="Radio La Salle - Ultimas noticias" style="height:206px;width:auto;">
						<!-- End Post Image -->
						<!-- Post Title & Summary -->
						<div class="post-title">
							<h3>{{ noticia.titulo | truncate(50) }}</h3>
						</div>
						<div class="post-summary">
							<p>{{ noticia.subtitulo | truncate(80) }}</p>
						</div>
						<!-- End Post Title & Summary -->
						<div class="post-more">
							<a href="{{ url ('noticia', { 'id' : noticia.id } )}}" class="btn btn-small">Leer más</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- End Posts List -->

<!-- Call to Action Bar -->
<div class="section section-white">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="calltoaction-wrapper">
					<h3>¡Además todas estas noticias!</h3> {# <a href="http://www.dragdropsite.com" class="btn btn-orange">Download here!</a> #}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Call to Action Bar -->


<div class="section">
    <div class="container">
	    <h2>Deportes</h2>
    	<div class="row">
    		{% for noticia in deportes %}
	    		<div class="col-md-3 col-sm-6">
	    			<div class="service-wrapper">
	        			<img src="{{ asset ('bundles/salleadmin/img/articulos/' ~ noticia.id ~ '.' ~ noticia.path )}}" class="center-block" alt="Radio La Salle - Deportes" style="width:195px;height:135px;">
	        			<h3>{{ noticia.titulo | truncate(40) }}</h3>
	        			<p>{{ noticia.subtitulo | truncate(80) }}</p>
	        			<a href="{{ url ('noticia', { 'id' : noticia.id } )}}"> Leer más...</a>
	    			</div>
	    		</div>
    		{% endfor %}
    	</div>

    	<h2>Tecnología</h2>
    	<div class="row">
    		{% for noticia in tecnologia %}
	    		<div class="col-md-3 col-sm-6">
	    			<div class="service-wrapper">
	        			<img src="{{ asset ('bundles/salleadmin/img/articulos/' ~ noticia.id ~ '.' ~ noticia.path )}}" class="center-block" alt="Radio La Salle - Deportes" style="width:195px;height:135px;">
	        			<h3>{{ noticia.titulo | truncate(40) }}</h3>
	        			<p>{{ noticia.subtitulo | truncate(80) }}</p>
	        			<a href="{{ url ('noticia', { 'id' : noticia.id } )}}"> Leer más...</a>
	    			</div>
	    		</div>
    		{% endfor %}
    	</div>

    </div>
</div>

<!-- Events -->
<div class="section">
	<div class="container">
	<h2>Eventos</h2>
		<div class="row">
			<div class="col-md-12">
				<table class="events-list">
					{% for evento in eventos %}
						<tr>
							<td class="col-md-2">
								<div class="event-date">
									<div class="event-day">{{ evento.fecha | date('d') }}</div>
									<div class="event-month" id="mes-{{ loop.index }}">{{ evento.fecha | date('m') }}</div>
								</div>
							</td>
							<td class="col-md-8">
								{{ evento.descripcion | truncate(200) }}
							</td>
							<td class="event-venue hidden-xs col-md-2"><i class="icon-map-marker"></i> <b>{{ evento.lugar | truncate(60) }}</b></td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>


 <!-- Footer -->
<div class="footer">
	{% include 'SalleAdminBundle:Front:footer.html.twig' %}
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript" charset="utf-8" async defer>

$(document).ready( function (){

	$(".event-month").each(function(){

		switch (parseInt($(this).text()))
	{
		case 1:
				$(this).text('enero');
				break;
		case 2:
				$(this).text('febrero');
				break;
		case 3:
				$(this).text('marzo');
				break;
		case 4:
				$(this).text('abril');
				break;
		case 5:
				$(this).text('mayo');
				break;
		case 6:
				$(this).text('junio');
				break;
		case 7:
				$(this).text('julio');
				break;
		case 8:
				$(this).text('agosto');
				break;
		case 9:
				$(this).text('septiembre');
				break;
		case 10:
				$(this).text('octubre');
				break;
		case 11:
				$(this).text('noviembre');
				break;
		case 12:
				$(this).text('diciembre');
				break;
	}

	});	
});

</script>

{% endblock %}