{% extends 'SalleAdminBundle:BackOffice:base.html.twig' %}

{% block title %}Editar flash{% endblock %}

{% block content %}

<div id="wrapper">

	{% include 'SalleAdminBundle:BackOffice:header.html.twig'  with { 'active' : 'news'} %}

	<div id="page-wrapper">

		<div class="row">
			<div class="col-lg-12">
				<h1>Editar flash <small>Urubamba</small></h1>
			</div>
		</div><!-- /.row -->

		<div class="row">

	           <div class="col-lg-10">

	          	{{ form_start(form,  { 'attr': {'role': 'form'} }) }}

	          	<div class="form-group">
		          	{{ form_label(form.titular) }}
		        	{{ form_errors(form.titular) }}
		        	{{ form_widget(form.titular, { 'attr': {'class': 'form-control'} }) }}
	            </div>

	            <div class="form-group">
	                {{ form_label(form.enlace) }}
		        	{{ form_errors(form.enlace) }}
		        	{{ form_widget(form.enlace, { 'attr': {'class': 'form-control'} }) }}
	            </div>
	        </div>
		        	

	        <div class="col-lg-10">
	    		{{ form_widget(form.send, { 'label': 'Actualizar', 'attr': {'class': 'btn btn-primary btn-lg pull-right'} }) }}
				{{ form_end(form) }}
			</div>

		</div><!-- /.row -->

	</div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->

{% endblock %}
