<!-- Sidebar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<a class="navbar-brand" href="index.html">Urubamba Admin</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		
		<ul class="nav navbar-nav side-nav">
			<li class="dropdown {% if active == 'news' %}active{% endif %}">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-text"></i> Noticias <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{{ url ('add-new') }}">Añadir nueva</a></li>
					<li><a href="{{ url ('list-news') }}">Ver todas</a></li>

				</ul>
			</li>

			<li class="dropdown {% if active == 'eventos' %}active{% endif %}">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-calendar"></i> Eventos<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{{ url ('add-event') }}">Añadir nuevo</a></li>
					<li><a href="{{ url ('list-events') }}">Ver todos</a></li>
				</ul>
			</li>

			<li class="dropdown {% if active == 'equipo' %}active{% endif %}">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-male"></i> Equipo<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{{ url ('add-equipo') }}">Añadir nuevo</a></li>
					<li><a href="{{ url ('list-equipo') }}">Ver todos</a></li>
				</ul>
			</li>

			<li class="dropdown {% if active == 'galeria' %}active{% endif %}">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-camera"></i> Galería<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{{ url ('add-image') }}">Añadir nueva</a></li>
					<li><a href="{{ url ('list-images') }}">Ver todas</a></li>
				</ul>
			</li>

			<li class="dropdown {% if active == 'flash' %}active{% endif %}">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-flash"></i> Flash<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{{ url ('add-flash') }}">Añadir nueva</a></li>
					<li><a href="{{ url ('list-flash') }}">Ver todas</a></li>
				</ul>
			</li>

			<li {% if active == 'comments' %}class="active"{% endif %}>
				<a href="{{ url ('list-comments')}}"><i class="fa fa-comment-o"></i> Comentarios</a>
			</li>

			<li class="dropdown {% if active == 'patros' %}active{% endif %}">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-money"></i> Patrocinadores<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{{ url ('add-patro') }}">Añadir nuevo</a></li>
					<li><a href="{{ url ('list-patros') }}">Ver todos</a></li>
				</ul>
			</li>
		</ul>

	</div><!-- /.navbar-collapse -->
</nav>