{% extends 'SalleAdminBundle:BackOffice:base.html.twig' %}

{% block title %}Lista de noticias{% endblock %}

{% block content %}

<div id="wrapper">

	{% include 'SalleAdminBundle:BackOffice:header.html.twig'  with { 'active' : 'news'} %}

	<div id="page-wrapper">

		<div class="row">
			<div class="col-lg-12">
				<h1>Lista de noticias <small>Urubamaba</small></h1>
			</div>
		</div><!-- /.row -->


		<div class="row">
			<div class="col-lg-12">
				<h2>&nbsp;</h2>
				<div class="table-responsive">
					<table class="table table-hover table-striped tablesorter">
						<thead>
							<tr>
								<th class="col-sm-1">id <i class="fa fa-sort"></i></th>
								<th class="col-sm-6">Nombre <i class="fa fa-sort"></i></th>
								<th class="col-sm-2">Sección <i class="fa fa-sort"></i></th>
								<th class="col-sm-2">Fecha <i class="fa fa-sort"></i></th>
								<th class="col-sm-1"></th>
								<th class="col-sm-1"></th>
							</tr>
						</thead>
						<tbody>

						{% for noticia in noticias %}
							<tr>
								<td>{{ noticia.id }}</td>
								<td>{{ noticia.titulo }}</td>
								<td>{{ noticia.seccion }}</td>
								<td>{{ noticia.fecha | date('Y-m-d') }}</td>
								<td>
									<a href="{{ url ('edit-news', { 'id' : noticia.id } )}}"><i class="fa fa-edit" style="font-size: 20px;"></i></a>
								</td>
								<td>
									<a href=""><i class="fa fa-times text-danger" style="font-size: 20px;"></i></a>
								</td>
							</tr>
						{% endfor %}

						</tbody>
					</table>
				</div>
			</div>
		</div><!-- /.row -->

		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="bs-example center-block">
					<ul class="pagination">
						<li class="disabled"><a href="#">&laquo;</a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">&raquo;</a></li>
					</ul>
				</div>
			</div>
		</div><!-- /.row -->


	</div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->

{% endblock %}